body {
  padding: 0;
  display: flex;
  background: #d659ac;
  background: linear-gradient(135deg, #d659ac 0%, #70084d 40%, #6f76e4 100%);
  min-height: 100vh;   /* 视窗高度 */
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.player {
  max-width: 750px;
  position: relative;
  font-size: 0;
  border: 5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* video 可以自适应窗口 */
.player_video {
  width: 100%;
}

.player_controls {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.player:hover .player_controls {
  transform: translateY(0);
}

.progress {
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  display: flex;
  flex: 10;
  flex-basis: 100%;  /* 用百分比来定义宽度 */
  transition: height 0.3s;
  cursor: ew-resize;  /* 此光标指示矩形框的边缘可被向左或向右移动 */
}

.player:hover .progress {
  height: 10px;
}

.progress_fill {
  width: 50%;
  background: #496ebe;
  flex: 0;
  flex-basis: 50%;
}

.player_button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  cursor: pointer;
  flex: 1;
}

.time {
  margin-top: 10px;
  color: #fff;
  font-size: 10px;
  flex: 2;
}

.volumn {
  flex: 1;
  margin-top: 10px;
  position: relative;
}

.player_rate {
  flex: 1;
  margin-top: 10px;
}

.volumn_input {
  transform: rotate(-90deg);
  position: absolute;
  left: 100%;
  top: -10px;
  display: none;
}

/* 去除系统默认样式 */
input[type=range] {
  -webkit-appearance: none;
  width: 100px;
  border-radius: 3px;
  position: absolute;
  bottom: 75px;
}

/* 给滑动轨道track添加样式 */
input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
}

input[type=range]:focus {
  outline: none;
}

/* 给滑块thumb添加样式 */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #fff;
  margin-top: -4px;
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}