html {
  background: #779fe4;
}

.checkbox {
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}

.box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.box:last-child {
  border-bottom: none;
}

.box p {
  margin: 0;  /* 处理border-left撑不满的问题 */
  padding: 20px;
  border-left: 1px solid #f1f1f1;
  flex: 1;
  transition: background 0.2s;
}

input[type="checkbox"] {
  margin: 20px;
}

input:checked + p {
  text-decoration: line-through;
  background: #f9f9f9;
}

/* 全选 */
.checkAllbox {
  display: flex;
  align-items: center;
  background: #b5cbf0;
  border-radius: 0 0 5px 5px;
}

.checkAllbox > input:checked + p {
  text-decoration: none;
  background: #b5cbf0;
}